body {
    background-color: darkgray !important;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: darkgray;
}

.quizcard {
    width: 30rem;
}

.card-img-custom {
    object-fit: cover;
}

.winner-header {
    font-size: 32px;
    margin-bottom: 8px;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.success-bgr {
    background-color: rgba(0, 150, 45, 0.3);
}

.wrong-bgr {
    background-color: rgba(255, 0, 0, 0.3);
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.button-centering {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

@media (max-width:520px) {
    body {
        background-color: #F8F9FA !important;
    }
    .container {
     padding-left: 0 !important;
     padding-right: 0 !important;
     background-color: #F8F9FA !important;
    }
    .quizcard {
        width: 100%;
    }
}